# Backend API Gateway
VITE_API_BASE_URL=http://localhost:8080

# User Service OIDC issuer
VITE_OIDC_AUTHORITY=http://localhost:8082

# Phải khớp với clientId đã đăng ký trong backend
VITE_OIDC_CLIENT_ID=cinema-webF